.vscode/**
.vscode-test/**
.github/**
.husky/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
esbuild.js
commitlint.config.js
.editorconfig
CHANGELOG.md
node_modules/**
!node_modules/@lancedb/**
!node_modules/@xenova/**
!node_modules/uuid/**
!node_modules/web-tree-sitter/**
!node_modules/onnxruntime-node/**
!node_modules/sharp/**
